*{
    padding: 0%;
    margin: 0%;
}

header{
    width: 100%;
    height: 35rem;
    background-image: url(img/yomi5.jpg);
    background-position: center;
    background-size: cover;
}
ul{
    display: flex;
    padding: 2rem;
    /* justify-content: space-around ; */
    float: right;
}

a{
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 1rem;
}
 .logo{
    position: absolute;
    top: 2rem;
    left: 8rem;
 }
 .p1{
    position: absolute;
    margin-top: 10rem;
    margin-left: 8rem;
    color: white;
    font-size: 4rem;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid white;
    padding: 1rem;
 }
 .image{
    width: 50%;
    height: 30rem;
    background-image: url(img/yomi4.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 8rem;
 }
 .text{
    width: 30%;
    height:15rem;
    background-color: rgb(255, 255, 255);
    margin-top: 15rem;
    position: absolute;
    margin-left: 40rem;
 }
 .parent{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 3rem;
 }
 b{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 3rem;

 }
 .p2{
    padding-top: 1rem;
    margin-left: 3rem;
 }
 .p3{
    margin-left: 3rem;
    font-size: 2rem;
 }
 h1{
    margin-left: 8rem;
    margin-top: 0.5rem;
 }
 .creation{
    margin-top: 5rem;
 }
 button{
    float: right;
    margin-right: 6.5rem;
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
 }
 .image1, .image2, .image3, .image4{
    width: 20%;
    height: 40rem;
  }

 .first{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
 }
 .image1{
    background-image: url(img/yomi8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 } 
 .image2{
    background-image: url(img/yomi3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
 .image3{
    background-image: url(img/yomi1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 .image4{
    background-image: url(img/yomi6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 .second{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
 }

 .image5, .image6, .image7, .image8{
    width: 20%;
    height: 40rem;
  }

 .image5{
    background-image: url(img/yomi7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 .image6{
    background-image: url(img/yomi2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 .image7{
    background-image: url(img/yomi9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 .image8{
    background-image: url(img/yomi10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 .image8 p, .image7 p, .image6 p, .image5 p, .image4 p, .image3 p, .image2 p, .image1 p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: white;
 }

 footer{
    width: 100%;
    height: 5rem;
    background-color: black;
    margin-top: 2rem;
 }
 .foo{
    display: flex;
    color: white;
    margin-left: 6rem;

 }
 .foo li{
    list-style: none;
    padding: 1rem;
 }
 .pa{
    display: flex;
    color: white;
    gap: 26rem;
 }

 @media screen and (max-width: 768px) {

   /* Reset layout to fit mobile screens */
   ul {
       flex-direction: column;
       align-items: center;
       float: none;
       background: rgba(0, 0, 0, 0.7);
       position: absolute;
       top: 5rem;
       right: 0;
       width: 100%;
       display: none;
   }

   nav {
       position: relative;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 1rem;
   }

   nav.active ul {
       display: flex;
   }

   .logo {
       position: relative;
       top: 0;
       left: 0;
   }

   .p1 {
       margin: 5rem 1rem 0 1rem;
       font-size: 2rem;
       padding: 1rem;
       text-align: center;
       position: static;
   }

   .parent {
       flex-direction: column;
       margin: 2rem 1rem;
   }

   .image {
       width: 100%;
       height: 15rem;
       margin: 0;
   }

   .text {
       position: static;
       width: 100%;
       margin: 1rem 0;
       height: auto;
   }

   .p3 {
       font-size: 1.5rem;
   }

   .p2 {
       font-size: 1rem;
   }

   h1 {
       text-align: center;
       margin-left: 0;
   }

   button {
       float: none;
       display: block;
       margin: 1rem auto;
   }

   .first,
   .second {
       flex-direction: column;
       gap: 2rem;
       align-items: center;
   }

   .image1, .image2, .image3, .image4,
   .image5, .image6, .image7, .image8 {
       width: 90%;
       height: 15rem;
   }

   footer {
       flex-direction: column;
       height: auto;
       padding: 1rem;
       text-align: center;
   }

   .pa {
       flex-direction: column;
       gap: 2rem;
       margin-top: 1rem;
   }

   .foo {
       justify-content: center;
       flex-wrap: wrap;
       margin: 0;
   }

   .icons {
       margin-top: 1rem;
   }

}
